<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <connectionStrings>
	   <add name="Database" connectionString="User=SYSDBA;Password=masterkey;Database=C:\WimDesktopDB\db\WIMDESKTOPDB.FDB;ServerType=1;ClientLibrary=C:\WimDesktopDB\db\Firebird\fbclient.dll;Charset=UTF8;" providerName="FirebirdSql.Data.FirebirdClient" />
	   
	   <!--<add name="Database" connectionString="User=SYSDBA;Password=masterkey;Database=C:\WimDesktopDB\db\WIMDESKTOPDB.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;\r\nServerType=0" providerName="FirebirdSql.Data.FirebirdClient" />-->
	   
	   <!--<add name="Database" connectionString="User=SYSDBA;Password=xSj2MCyQ4UKsz8EfRmw5;Database=env-7766362.sp1.br.saveincloud.net.br:/opt/firebird/data/WIMDESKTOPDB.FDB;DataSource=env-7766362.sp1.br.saveincloud.net.br;Port=3050;Dialect=3;Charset=UTF8;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient" />-->
   </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
	<defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient" description="FirebirdClient" invariant="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>